<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StreamNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="f1" xsi:type="File" fileName="log.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="f1" />
    </rules>
  </nlog>
  <userSettings>
    <StreamNotifier.Properties.Settings>
      <setting name="UpdateInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ProwlAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="twitchName" serializeAs="String">
        <value>skomski</value>
      </setting>
    </StreamNotifier.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
